{% extends "base.html" %}
{% block content %}
        <section class="breadcrumb_area">
            <img class="breadcrumb_shap" src="img/banner_bg.png" alt="">
            <div class="container">
                <div class="breadcrumb_content text-center">
                    <h1 class="f_p f_700 f_size_50 w_color l_height50 mb_20">Signin</h1>
                    <p class="f_400 w_color f_size_16 l_height26"></p>
                </div>
            </div>
        </section>

        <section class="login_area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="login_info">
                            <h2 class="f_p f_700 f_size_40 t_color3 mb_20">Signin</h2>
                            <p class="f_p f_400 f_size_15"><br><a href="#"></a></p>
                            {% include "message.html" %}
                            <form action="{% url "login" %}" class="login-form mt_60" method='POST'> {% csrf_token %}                               
                                <div class="form-group text_box">
                                    <label class="f_p text_c f_400">Email</label>
                                    <input type="email" placeholder="Your Name" name='email'>
                                </div>
                                <div class="form-group text_box">
                                    <label class="f_p text_c f_400">Password</label>
                                    <input type="password" placeholder="******" name='password'>
                                </div>
                                <div class="extra">
                                    <div class="checkbox remember">
                                        <label>
                                            <input type="checkbox"> Keep me Signed in
                                        </label>
                                    </div>
                                    <!--//check-box-->
                                    <div class="forgotten-password">
                                        <a href="{% url "forgotpassword" %}">Forgot Password?</a>
                                    </div>
                                </div>
                                <button type="submit" class="btn_three">Sign in</button>
                                <div class="alter-login text-center mt_30">
                                    New user? <a class="login-link" href="{% url "registration" %}">Signup</a>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4 d-flex align-items-center">
                        <div class="login_img">
                            <img src="img/login_img.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock content %}