{% extends "base.html" %}
{% load static %}
{% block content %}
    <nav>
        <ul>
            <li><a href="blog.html" target="_blank">Blog</a></li>
            <li><a href="post.html" target="_blank">post</a></li>
            <li><a href="about.html" target="_blank">about</a></li>
            <li><a href="contact.html" target="_blank">contact</a></li>
            <li><a href="signup.html" target="_blank">signup</a></li>
            <li><a href="login.html" target="_blank">login</a></li>
            <li><a href="404_error.html" target="_blank">404_error</a></li>
            
        </ul>
    </nav>
{% endblock content %}